.confirm-modal-background {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.confirm-modal-background .confirm-modal-inner {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 30em;
  min-height: 10em;
  padding: 3em;
  border-radius: 5px;
  background-color: white;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.confirm-modal-background .confirm-modal-inner input {
  margin: 3em 0;
  width: 100%;
  outline: none;
}

.confirm-modal-background .confirm-modal-inner input[type="text"], .confirm-modal-background .confirm-modal-inner input[type="password"] {
  padding: 0.5em;
  border: none;
  border-bottom: 2px solid rgba(255, 156, 0, 0.7);
}

.confirm-modal-background .confirm-modal-inner .modal-action-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.confirm-modal-background .confirm-modal-inner .modal-action-container > button {
  min-width: 40%;
  min-height: 3em;
  margin: 0 2em;
  border: none;
  border-radius: 5px;
  border-bottom: 3px solid rgba(174, 174, 174, 0.9);
  background-color: rgba(174, 174, 174, 0.65);
  color: white;
  outline: none;
  -webkit-transition: 100ms;
  transition: 100ms;
}

.confirm-modal-background .confirm-modal-inner .modal-action-container > button:hover {
  background-color: rgba(174, 174, 174, 0.7);
}

.confirm-modal-background .confirm-modal-inner .modal-action-container > button:active {
  background-color: #aeaeae;
  border-bottom: 0px solid rgba(174, 174, 174, 0.9);
}

.confirm-modal-background .confirm-modal-inner .modal-action-container > button.confirm-button {
  border-bottom: 3px solid rgba(7, 194, 100, 0.9);
  background-color: rgba(7, 194, 100, 0.65);
}

.confirm-modal-background .confirm-modal-inner .modal-action-container > button.confirm-button:hover {
  background-color: rgba(7, 194, 100, 0.7);
}

.confirm-modal-background .confirm-modal-inner .modal-action-container > button.confirm-button:active {
  background-color: #07c264;
  border-bottom: 0px solid rgba(7, 194, 100, 0.9);
}

.confirm-modal-background .confirm-modal-inner .modal-action-container > button.dismiss-button {
  border-bottom: 3px solid rgba(207, 68, 13, 0.9);
  background-color: rgba(207, 68, 13, 0.65);
}

.confirm-modal-background .confirm-modal-inner .modal-action-container > button.dismiss-button:hover {
  background-color: rgba(207, 68, 13, 0.7);
}

.confirm-modal-background .confirm-modal-inner .modal-action-container > button.dismiss-button:active {
  background-color: #cf440d;
  border-bottom: 0px solid rgba(207, 68, 13, 0.9);
}
/*# sourceMappingURL=ConfirmModal.css.map */